.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  width: 400px;
  backdrop-filter: blur(20px);
  background: #ffffff17;
  border: 2px solid #8686864f;
  box-shadow: inset 0px 10px 40px -20px rgba(26, 26, 26, 0.966);
  transition: all ease-in-out 0.2s;

  &__row {
    display: flex;
    width: 100%;
  }
  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 40px;
  }
}
