.card__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  background: #c5c5c5;
  border-radius: 30px;
  padding: 20px 20px;
  border: 2px solid #a8aaa7;
  &__row {
    h4 {
      font-weight: 700;
    }
  }
  &__name {
    text-transform: capitalize;
  }
  &:hover &__btn {
    opacity: 1;
    visibility: visible;
  }
  &__btn {
    border: none;
    outline: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 10px;
    padding: 6px 10px;
    font-weight: 700;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.1s;
    &:hover {
      transform: scale(1.2);
    }
    &--remove {
      background: url("../../assets/trash.svg") center center / cover no-repeat;
    }
    &--edit {
      background: url("../../assets/edit.svg") center center / cover no-repeat;
    }
  }
}
