.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 300px;
  background: #ec562e;
  border-radius: 30px;
  padding: 30px 20px;
  &-row {
    h4 {
      font-weight: 700;
    }
  }
  &-name {
    text-transform: capitalize;
  }
}
