* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("../background.webp") center center / cover no-repeat;
}
.section {
  width: 100%;
}
.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1320px;
  transition: all ease-in-out 0.2s;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
  &-end {
    justify-content: end;
  }
  &-center {
    justify-content: center;
  }
}

.m {
  &-b {
    &-4 {
      margin-bottom: 20px;
    }
  }
}
