* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section {
  width: 100%;
}
.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1320px;
}
.row {
  display: flex;
  flex-direction: row;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #91ad91;
  padding: 20px;
  gap: 10px;
  width: 600px;
}
.input,
.btn {
  border: none;
  outline: none;
  padding: 6px 10px;
  border-radius: 10px;
}
.input {
}
.btn {
  color: #fff;
  background: #464757;
}
